@media screen and (min-width:319px) and (max-width:764px) {
    body {background-image: url("image/mobile.jpg");background-size: cover;}
    .weather {position: absolute;top:130px;width: 250px;height: 430px;transition: none;}
    .weather:hover {transform:none;cursor: none;}.search {left: 10px;width: 300px;}
    .search:hover {box-shadow: 2px 2px 16px rgb(127, 170, 127);cursor: pointer;}
    .weatherimage {display:none}
    .weatherimage:hover { transform: none;cursor:none;}
    .temp {display:none}
    .temp:hover {transform: none;cursor: none;}h1 {margin-left: 15px;}
    #image {margin-left: 70px;width: 100px;height: 100px;}
    .Details {margin-top: 0px;font-size: 20px;}
    #city {margin-left: 20px;padding-left: 0px;}
}
@media screen and (min-width:375px) and (max-width:424px){
    .search{width:350px;}
    #city{width:200px;}
    .weather{width:300px;height: 430px;}
    h1{margin-left: 40px;}
    #image{margin-left: 90px;}
    .weatherimage{width:330px;}
    .temp{display:none}
}
@media screen and (min-width:425px) and (max-width:764px) {
    .search{width:405px;}
    #city{width:265px;}
    .weather{width:350px;height: 480px;}
    .Details{font-size:25px; margin-left:50px;}
    h1{margin-left: 65px;}
    #image{margin-left: 120px;}
    .weatherimage{width:350px; margin-left:20px; top:680px;}
    .temp{display:none}
}